@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {
    --font-inter: "Inter", sans-serif;
    --color-background: #0D1B2A;
    --color-primary-accent: #FF4C98;
    --color-secondary-accent: #00CFFF;
    --color-main: #F1F1F1;
    --color-card: 	#1B263B;
}

body {
    font-family: var(--font-inter);
    background-color: var(--color-background);
    color: var(--color-main);
}

@utility container {
    @apply max-w-[1770px] mx-auto px-5 min-[1810px]:px-0;
}

@utility scroll-hide {
    scrollbar-width: none;
    overflow-style: none;
}

@utility min-height-screen {
    @apply min-h-[calc(100vh-68px)] md:min-h-[calc(100vh-80px)];
}

.cover-pattern:before {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(20px);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.25' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

.hide-sidebar-scroll {
    overflow-y: hidden;
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: var(--color-background);
}


.transparent-track::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-primary-accent);
}
/* custom scroll bar */

@utility blurred-edge {
    box-shadow: 25px 25px 50px 0 var(--color-background) inset, -25px -25px 50px 0 var(--color-background) inset; 
}

@utility sub-header {
    @apply font-semibold text-primary-accent text-2xl mb-4;
}

.scroll-hide::-webkit-scrollbar {
  display: none;              /* Chrome/Safari */
}

.custom-pagination .MuiPaginationItem-root {
    @apply text-main;
}

.custom-pagination .MuiPagination-ul {
    @apply w-fit mx-auto;
}

.custom-pagination .Mui-selected {
    background-color: var(--color-primary-accent) !important;
    color: white !important;
    border-radius: 8px;
}
